/* for the heading */
.tag {
    text-align: center;
    /* color: #EC7063; */
    color: #a8b2d1;
    margin: 1rem;
}

.congrats {
    color: #64ffda;
}


/* for the jigsaw puzzle container */
.jigsaw-puzzle {
    border: 1px solid #63ecb5;
    margin: auto;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.jigsaw-puzzle__piece {
    border: none;
}


.jigsaw-puzzle__piece--solved {
    border: none !important;
}

.jigsaw-puzzle__piece--dragging {
    border: none;
}

.jigsaw-container {
    width: 45%;
    margin-top: -5%;
}